<style>
    body {
        background-color: #1A1414;
    }
    .card-body {
        background-color: #545454;
        border: none;
    }
    .card {
        border: none;
    }

</style>

  <div class="row" style="padding-top: 20px;">
    <div class="col">
        <div class="row">
        <div class="container">
            <div class="col" style="width: 30%;">
                <img id="recipe-img" style="display: inline-block; margin-right: 5px; height: 100px; width: 100%;">
            </div>
            <div class="col" style="width: 70%; display: inline-block; float: right; margin-top: -100px;">
                <h6 style="color: #FF6724; display: inline-block;">Gordon has commanded that you make him a delicious plate of</h6>
                <h4 id="recipe-title" style="display: inline-block; color:#F62323;">Recipe Name</h4>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Example</h5>
                    <p>
                        <strong>ID</strong>: {{example.id}}</p>
                    <p>
                    <p>
                        <strong>Text</strong>: {{example.text}}</p>
                    <p>
                        <strong>Description:</strong> {{example.description}}</p>
                        <a href="/">← Back To Home</a>
                </div>
            </div>
        </div>  
    </div>
    <div class="col">
        <div class="container"></div>
    </div>
</div>
