      <script src="https://kit.fontawesome.com/ebc38b1b2c.js" crossorigin="anonymous"></script>

  <div class="loserImgContainer">

        <i class="fas fa-times-circle" id="closeImg"></i>

    <div class="loserImage"></div>

</div>
  
  <div class="row" style="padding-top: 20px;">
    <div class="col-8" style="padding-right: 0px;">
        <div class="row">
        <div class="container">
            <div class="col-4" style="padding-right: 0px;">
                <img class="recipe-img"/>
            </div>
            <div class="col-8" style="display: inline-block; float: right; margin-top: -100px;">
                <h6>Gordon has commanded that you make him a delicious plate of:</h6><br>
                    <h4 class="recipe-title"></h4>
                    <h6 class="servings">For people</h6>
            </div>
        </div>
        </div>
        <div class="container game" style="padding-right: 0px;">
            <div class="row">
                <div class="col-4" style="padding-left: 15px; padding-right: 5px;">
                    <div class="card mt-4">
                        <div class="card-body">
                    <h5>Ingredients</h5>
                    <p class="count">Ingredients Left: <span class="ingredientsLeft"></span></p>
                            <ul id="ingredients" style="overflow-y: scroll; max-height: 300px;">
                                <li class="ingredient"></li>
                                <li class="incorrect-ingredient"></li>
                            </ul>  
                        </div>
                    </div>
                </div>
                <div class="col-8" style="padding-left: 5px; padding-right: 5px;">
                    <div class="card mt-4">
                        <div class="card-body instructions-wrapper" id="droppable">
                    <h5>Instructions</h5>
                            <ul id="instructions" style="overflow-y: scroll; max-height: 300px;">
                            </ul>  
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    
    </div>

    <div class="col-4">
        <div class="container">
                    
                    <!--CookTime-->
                    <h5 style="margin-top: 20px;">Cooking Time:</h5>
                    <div class="card mt-4">
                        <div class="card-body">
                            <p id="cookTimeGuess" style="background-color: #2E2929; text-align: center; font-size: 35px; margin-bottom: 0px; font-weight:500; color:#F62323;">00:00</p>
                             
                        </div>
                    </div>
                    <!--QuiteGame-->
                    <a href="/quit"><button>Quit Game</button></a>                       
                
            <div class="row scoreTracker">
                <div class="col">
                    <p class="win-label">Wins: <div id="winPoints"></div></p>
                </div>
                <div class="col">
                    <p class="lose-label">Losses: <div id="losePoints"></div></p>
                </div>
            </div>
    </div>
</div>

  </div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../handlebars-v4.3.1.js"></script>
<script type="text/javascript" src="/js/recipes.js"></script>
<script type="text/javascript" src="/js/media.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
 <script>
     console.log(ingredients);



     var wins = 0;
     var losses = 0;
    $('#winPoints').text(wins);
    $('#losePoints').text(losses);

$(document).ready(function () {
     var ingredient = $('.ingredient');
     $('.ingredient').on('click', function(){
         var elem = $(this);
         var clickedIngredient = $(this).text();
         var foundCorrect = false;

        checkValue(clickedIngredient, elem);

          console.log(clickedIngredient)
         function checkValue(value,arr){
            var status = 'Not exist';
            var rightClickedCount = $('.clickedRight .ingredient').length;
            var ingredientExist = ingredients.includes(clickedIngredient);
            console.log(ingredientExist);
            
            $.each(ingredients, function( key, object){
                if (foundCorrect === true) return false;
                
                console.log("output: " + object.name);
                if (clickedIngredient === object.name) {
                    console.log(this.name);
                    elem.addClass('clickedRight');
                    elem.removeClass('clickedWrong');
                    //$(this).addClass('clickedRight');
                    foundCorrect = true;
                    //wins =+ wins + 1;
                    console.log(wins);
                    // get ingredient count variable
                    var ingredientCount = ingredients.length;
                    var rightClickedCount = $('li.clickedRight').length;
                    ingredientsLeft--;
                    $('.ingredientsLeft').text(ingredientsLeft);

                }
                else if (clickedIngredient !== object.name) {
                    elem.addClass('clickedWrong');
                    elem.addClass('clickedRight');

                }
            }.bind(this));
            if (foundCorrect === true) {
                wins = wins + 1;
                $('#winPoints').text(wins);

            } else {
                $('.loserImgContainer').css('display', 'block');
                $('.game').addClass('gamePause');
                losses = losses + 1;
                $('#losePoints').text(losses);

            }
            console.log(this);

            /*for(var i=0; i<arr.length; i++){
                var name = arr[i].name;
                if(name == value){
                status = 'Exist';
                
            }
                }*/
               

            return status;
            console.log("Status returned: " + status)
            }
            $("#closeImg").on('click', function () {
                $('.loserImgContainer').css('display', 'none');
                $('.game').removeClass('gamePause');

            });
            /*if (status === "Exist") {
                $(this).addClass('clickedRight');
               // console.log(this);
            } else { 
                console.log(this);
                console.log("Status in else: " + status);
                $(this).addClass('clickedWrong');
            }*/
     });
    
});
/*$(document).ready(function () {
    $(".incorrect-ingredient").on('click', function () {
        $(this).addClass('clickedWrong');
        $('.game').addClass('gamePause');

        //let styles = 'display: block, background-image:' + getRandomItem(winImages); 
        //console.log(styles);
        $('.loserImgContainer').css('display', 'block');


    });
     
});*/

  </script>