<style>
    a {
        color: #F62323;
    }
    a:hover {
        color:#FF6724;
        text-decoration: none;
    }
    body {
        background-image: url('https://raw.githubusercontent.com/MissWibbon/trumpeteers/master/public/images/1562626362530.jpg'); 
        background-size: cover; 
        background-color: rgb(26,20,20, 0.8); 
        background-blend-mode: multiply;
        padding-top: 15%;
        background-position-x: center;
        
    }
    .title {
        display: inline-block;
        font-size: 3em;
    }
    .kitchen {
        color:#FF6724;
        display: inline-block;
    }
    input {
            background: transparent;
    border: none;
    border-bottom: 3px solid #F62323;
    color: #FF6724;
    }
    .backlink-wrapper {
        padding-top: 40px;
    }
    button {
        width: 100%;
        margin: auto;
        border: 3px solid #F62323;
        color: #F62323;
        background: transparent;
        margin-top: 30px;
    }

    form {
        padding-top: 40px; 
        max-width: 400px; 
        margin: auto;
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        .title {
            font-size: 1em;
            margin-left: 15% !important;
            margin-top: 30px !important; 
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .title {
            font-size: 22px !important;
            margin-top: 20px !important;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .title {
            font-size: 2em;
            margin-top: 10px;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
              .title {
            font-size: 3em;
        }
    }

</style>

<div class="container" style="height: 480px;">

          <h1 class="title" style="color: #F62323; margin-left: 25%;">Welcome To Hell<span class="kitchen">'s Kitchen</span></h1>
            <form>
            <input name="username" placeholder="username"></input>
            <input name="password" placeholder="password" style="float: right;"></input>
            <button type="submit"><a href="/intro">Create Profile</a></button>
            </form>
        <div class="backlink-wrapper">
            <a href="/">← Back To Home</a>
        </div>  
</div>

