.list-group-item {
  line-height: 2.5;
}
body {
  background-color: #1A1414;
}
h5 {
  color:#FF6724;
}
h6 {
  color: #FF6724; 
  display: inline-block; 
  font-weight: 100;
}
.card-body {
  background-color: #241F1F;
  border: none;
  padding: 5px !important;
}
.card {
  border: none;
}

ul {
  padding: 0px;
  margin-bottom: 0px;
}
li {
  list-style: none;
  color:#F62323;
  font-weight:100;
  margin-bottom: 5px;
  padding-left: 5px;
}
.clicked {
  color: #707070;
}

#notGuessed {
  background-color: #2E2929;
  color: #2E2929;
}
button {
  width: 100%;
  margin: auto;
  border: 3px solid #F62323;
  color: #FF6724;
  padding: 10px;
  background: transparent;
  margin-top: 30px;
}
.scoreTracker {
  margin-top: 20px;
  border: 3px solid #F62323;
  padding: 10px;
  background:#241F1F;
  margin-right: 0px;
  margin-left: 0px;
}
.win-label, .lose-label {
  color:#F62323; 
  margin-bottom: 0px; 
  font-size: 20px;
}
.recipe-title {
  display: inline-block; 
  color:#F62323;
}
.recipe-img {
  display: inline-block; 
  margin-right: 0px; 
  height: 100px; 
  width: 100%;
  background-size: cover;
  background-position: 85%;
}